body {
	background-color: rgb(0, 0, 0);
	color: hsl(0, 0%, 100%);
	margin: 0;
	padding: 0;
}

main {background-color: #000000}

nav {
	background-color: rgb(0, 0, 0);
	box-sizing: border-box;/* content-box */
	width: 300px;
	padding: 20px;
	margin: 20px;
	border-width: 5px;
	border-style: solid;
	border-color: #ffffff;
}

section {background-color: rgb(25, 25, 25)}

h1, h2, h3 {
	color: #ffffff;
}

a:link {
	color: #003cff;
}

a:visited {
	color: #7696ff;
}

/* selector {property: value} */
/* hexademical - kuueteistkümmend arvusüsteem */
/* 1 2 3 4 5 6 7 8 9 a b c d e f */